---
layout: archive
permalink: /gallery/
title: "Gallery"
author_profile: true
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for item in site.gallery reversed %}
{% capture year %}{{ item.date | date: '%Y' }}{% endcapture %}
{% if year != written_year %}
<h2 id="{{ year | slugify }}" class="archive_subtitle">{{ year }}</h2>
{% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
{% comment %}
{% include archive-single-gallery.html %}
{% endcomment %}
{% endfor %}


Gallery 测试页面
